.container-fluid {
  margin: 0px ;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.filter-container {
  padding: 10px;
  box-shadow: 0px 0px 0px 0px grey;
  margin-top: 0px !important;
}

.Nav{
  background-color: #f8f9fa;
}

.button {
    background-color: #5B5FC7; 
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

.button-delete {
  background-color: white; 
  border: 1;
  border-color: red;
  border-radius: 5px;
  color: red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: 20px;
}
  
  .dropdown-menu {
    width: fit-content;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
  }


  
  .tab {
   color: aqua;
  }

  .card {
    margin: 10px 1px;
    width: 100%;
    background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);

  }

.card-header {
    background-color: #C5CBFA;
    color: white;
    font-size: large;
    font-weight: bolder;
    margin: 0px;
}

.card-body {
    padding: 10px;
}

.icon-blue {
  color: #5B5FC7;
}



.icn {
  width: 40px !important;
  height: 40px !important;
  color: green !important;
}


table { 
  width: 100%; 
  border-collapse: collapse !important; 
  
  }

  th, td {
    border-top: 1px solid #5B5FC7;
    padding: 9px 18px !important; 
  }
  th { 
     border-top: none !important;
     font-size: 14px; text-align: left;
    }
    td {font-size: 12px;}
